<a title="Scroll back to top" aria-label="Scroll back to top" rel="nofollow" href="#" class="generate-back-to-top" data-scroll-speed="400" data-start-scroll="300" role="button">
	<span class="gp-icon icon-arrow-up"><svg viewBox="0 0 330 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M305.863 314.916c0 2.266-1.133 4.815-2.832 6.514l-14.157 14.163c-1.699 1.7-3.964 2.832-6.513 2.832-2.265 0-4.813-1.133-6.512-2.832L164.572 224.276 53.295 335.593c-1.699 1.7-4.247 2.832-6.512 2.832-2.265 0-4.814-1.133-6.513-2.832L26.113 321.43c-1.699-1.7-2.831-4.248-2.831-6.514s1.132-4.816 2.831-6.515L158.06 176.408c1.699-1.7 4.247-2.833 6.512-2.833 2.265 0 4.814 1.133 6.513 2.833L303.03 308.4c1.7 1.7 2.832 4.249 2.832 6.515z" fill-rule="nonzero" /></svg></span>
</a>
<nav id="generate-slideout-menu" class="main-navigation slideout-navigation do-overlay" itemtype="https://schema.org/SiteNavigationElement" itemscope>
	<div class="inside-navigation grid-container grid-parent">
		<button class="slideout-exit has-svg-icon"><span class="gp-icon pro-close">
			<svg viewBox="0 0 512 512" aria-hidden="true" role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
				<path d="M71.029 71.029c9.373-9.372 24.569-9.372 33.942 0L256 222.059l151.029-151.03c9.373-9.372 24.569-9.372 33.942 0 9.372 9.373 9.372 24.569 0 33.942L289.941 256l151.03 151.029c9.372 9.373 9.372 24.569 0 33.942-9.373 9.372-24.569 9.372-33.942 0L256 289.941l-151.029 151.03c-9.373 9.372-24.569 9.372-33.942 0-9.372-9.373-9.372-24.569 0-33.942L222.059 256 71.029 104.971c-9.372-9.373-9.372-24.569 0-33.942z" />
			</svg>
		</span> <span class="screen-reader-text">Close</span></button>
		<div class="main-nav">
			<ul id="menu-header-menu-1" class=" slideout-menu">
				<li class="menu-item"><a href="/">Home</a></li>
				<li class="menu-item"><a href="/services/">Services</a></li>
				<li class="menu-item"><a href="/clients-partners/">Clients &amp; Partners</a></li>
				<li class="menu-item"><a href="/news/">News</a></li>
				<li class="menu-item"><a href="/contact/">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>

<script id="generate-a11y">!function(){"use strict";if("querySelector"in document&&"addEventListener"in window){var e=document.body;e.addEventListener("mousedown",function(){e.classList.add("using-mouse")}),e.addEventListener("keydown",function(){e.classList.remove("using-mouse")})}}();</script>
<script src="/wp-content/plugins/gp-premium/menu-plus/functions/js/sticky.min.js%3Fver=2.5.1"></script>
<script>
var offSide = {"side":"left"};
</script>
<script src="/wp-content/plugins/gp-premium/menu-plus/functions/js/offside.min.js%3Fver=2.5.1"></script>
<script>
var gpSmoothScroll = {"elements":[".smooth-scroll","li.smooth-scroll a"],"duration":"800","offset":""};
</script>
<script src="/wp-content/plugins/gp-premium/general/js/smooth-scroll.min.js%3Fver=2.5.1"></script>
<script>
var generatepressMenu = {"toggleOpenedSubMenus":"1","openSubMenuLabel":"Open Submenu","closeSubMenuLabel":"Close Submenu"};
</script>
<script src="/wp-content/themes/generatepress/assets/js/menu.min.js%3Fver=3.5.1"></script>
<script>
var generatepressBackToTop = {"smooth":"1"};
</script>
<script src="/wp-content/themes/generatepress/assets/js/back-to-top.min.js%3Fver=3.5.1"></script>
{% if extraScripts %}{{ extraScripts | safe }}{% endif %}
