---
layoutSidebar: false
---
<!DOCTYPE html>
<html lang="en-GB">
<head>
{% include "head.njk" %}
</head>
<body class="{{ bodyClass | default('wp-singular page-template-default page wp-custom-logo wp-embed-responsive wp-theme-generatepress wp-child-theme-custom post-image-aligned-center sticky-menu-fade sticky-enabled desktop-sticky-menu no-sidebar nav-float-right one-container header-aligned-left dropdown-hover full-width-content') }}" itemtype="https://schema.org/{{ bodySchema | default('WebPage') }}" itemscope>
{% include "header.njk" %}
{{ content | safe }}
{% include "footer.njk" %}
{% include "scripts.njk" %}
</body>
</html>
