---
layout: base.njk
layoutSidebar: true
bodyClass: "wp-singular post-template-default single single-post wp-custom-logo wp-embed-responsive wp-theme-generatepress wp-child-theme-custom post-image-above-header post-image-aligned-center sticky-menu-fade sticky-enabled desktop-sticky-menu right-sidebar nav-float-right one-container header-aligned-left dropdown-hover featured-image-active"
bodySchema: Blog
---
<div class="gb-container gb-container-66a15435 gb-container-hero-blog">
	<div class="gb-container gb-container-1247c2f8 gb-container-hero-blog-inner">
		<h4 class="gb-headline gb-headline-62dc3417 gb-headline-text gb-headline-heading-white">// NEWS</h4>
		<h1 class="gb-headline gb-headline-ea8c7eff gb-headline-text gb-headline-heading-white">{{ title }}</h1>
		<h5 class="gb-headline gb-headline-c8ee0b38 gb-headline-text gb-headline-heading-white"><time class="entry-date published" datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time></h5>
	</div>
</div>
<div class="site grid-container container hfeed" id="page">
	<div class="site-content" id="content">
		<div class="content-area" id="primary">
			<main class="site-main" id="main">
				<p class="post-back">
					<a href="/news/">← Back</a>
				</p>
				<article class="post type-post status-publish format-standard has-post-thumbnail hentry" itemtype="https://schema.org/CreativeWork" itemscope>
					<div class="inside-article">
						{% if image %}
						<div class="featured-image page-header-image-single">
							<img width="1600" height="900" src="{{ image }}" class="attachment-full size-full" alt="{{ imageAlt or title }}" itemprop="image" decoding="async" fetchpriority="high" />
						</div>
						{% endif %}
						<div class="entry-content" itemprop="text">
							{{ content | safe }}
						</div>
					</div>
				</article>
			</main>
		</div>
		<div class="widget-area sidebar is-right-sidebar" id="right-sidebar">
			<div class="inside-right-sidebar">
				<aside class="widget inner-padding widget_block">
					<div class="gb-container gb-container-9d5baa6e">
						<h4 class="gb-headline gb-headline-2a8be9b4 gb-headline-text widget-title">Recent Posts</h4>
						{% include "recent-posts.njk" %}
					</div>
				</aside>
			</div>
		</div>
	</div>
</div>
