---
layout: page.njk
permalink: /clients-partners/
title: "Clients & Partners"
description: "Next Gen Plant Ltd are excited to announce their partnership with Xwatch Safety Soutions."
bodyClass: "wp-singular page-template-default page page-id-1286 wp-custom-logo wp-embed-responsive wp-theme-generatepress wp-child-theme-custom post-image-aligned-center sticky-menu-fade sticky-enabled desktop-sticky-menu no-sidebar nav-float-right one-container header-aligned-left dropdown-hover full-width-content"
generateblocksCss: "/wp-content/uploads/generateblocks/style-1286.css%3Fver=1716880100.css"
layoutSidebar: false
---

<div class="gb-container gb-container-hero-brand-bg-img-slide-right gb-container-hero-bg-img">
<div class="gb-container gb-container-hero-brand-inner-front-slide gb-container-hero-black-inner">
<h1 class="gb-headline gb-headline-139400a1 gb-headline-text gb-headline-heading-white">Clients &amp; Partners</h1>
</div>
</div>
	<div class="site grid-container container hfeed" id="page">
				<div class="site-content" id="content">
			
	<div class="content-area" id="primary">
		<main class="site-main" id="main">
			
<article id="post-1286" class="post-1286 page type-page status-publish has-post-thumbnail infinite-scroll-item" itemtype="https://schema.org/CreativeWork" itemscope>
	<div class="inside-article">
		
		<div class="entry-content" itemprop="text">
			<div class="gb-container gb-container-86fce025 gb-container-cont-outer">
<div class="gb-container gb-container-62d1fb9d gb-container-cont-inner-center">

<h2 class="gb-headline gb-headline-c32ec6f3 gb-headline-text">Proudly partnered with Xwatch</h2>

<div style="height:30px" aria-hidden="true" class="wp-block-spacer hide-on-mobile"></div>

<hr class="wp-block-separator has-alpha-channel-opacity"/>

<div style="height:30px" aria-hidden="true" class="wp-block-spacer hide-on-mobile"></div>

<h3 class="gb-headline gb-headline-77dbe94b gb-headline-text gb-headline-heading-brand">We are excited to announce our partnership with Xwatch Safety Soutions</h3>

<div style="height:30px" aria-hidden="true" class="wp-block-spacer hide-on-mobile"></div>

<div class="gb-grid-wrapper gb-grid-wrapper-af7ebf76 gb-grid-wrapper-grid-wrapper">
<div class="gb-grid-column gb-grid-column-6809dfa9"><div class="gb-container gb-container-6809dfa9">

<figure class="gb-block-image gb-block-image-99540fc6"><a href="https://www.xwatch.co.uk/" target="_blank" rel="noopener noreferrer"><img decoding="async" class="gb-image gb-image-99540fc6" src="/wp-content/uploads/logo-xwatch.svg" alt="" title="Xwatch Safety Solutions"/></a></figure>

</div></div>

<div class="gb-grid-column gb-grid-column-4b31fad7"><div class="gb-container gb-container-4b31fad7">

<blockquote class="wp-block-quote has-text-align-left is-layout-flow wp-block-quote-is-layout-flow">
<p class="has-text-align-left wp-block-paragraph"><em>&#8220;Having already experienced working with their state-of-the-art safety systems, Xwatch were on our radar from the very start. We&#8217;re privileged to be involved in their growth within the plant industry!&#8221;</em></p>
<cite><strong>Robbie Harding, Director, Next Gen Plant</strong></cite></blockquote>

</div></div>
</div>
</div>
</div>		</div>

			</div>
</article>
		</main>
	</div>

	
	</div>
</div>
