---
layout: page.njk
permalink: /terms/
title: "Terms of Use"
description: "Next Gen Plant Ltd Terms of Use."
bodyClass: "wp-singular page-template-default page page-id-9 wp-custom-logo wp-embed-responsive wp-theme-generatepress wp-child-theme-custom post-image-aligned-center sticky-menu-fade sticky-enabled desktop-sticky-menu no-sidebar nav-float-right one-container header-aligned-left dropdown-hover full-width-content"
generateblocksCss: "/wp-content/uploads/generateblocks/style-9.css%3Fver=1717055138.css"
layoutSidebar: false
---

<div class="gb-container gb-container-hero-brand-bg-img-slide-right gb-container-hero-bg-img">
<div class="gb-container gb-container-hero-brand-inner-front-slide gb-container-hero-black-inner">
<h1 class="gb-headline gb-headline-139400a1 gb-headline-text gb-headline-heading-white">Terms of Use</h1>
</div>
</div>
	<div class="site grid-container container hfeed" id="page">
				<div class="site-content" id="content">
			
	<div class="content-area" id="primary">
		<main class="site-main" id="main">
			
<article id="post-9" class="post-9 page type-page status-publish has-post-thumbnail infinite-scroll-item" itemtype="https://schema.org/CreativeWork" itemscope>
	<div class="inside-article">
		
		<div class="entry-content" itemprop="text">
			<div class="gb-container gb-container-86fce025 gb-container-cont-outer">
<div class="gb-container gb-container-3bd1fc14 gb-container-cont-inner">

<h1 class="gb-headline gb-headline-f4a17344 gb-headline-text">Terms of Use</h1>

<p class="wp-block-paragraph">www.nextgenplant.co.uk (the “Site”) is produced, owned, and maintained by Next Gen Plant Ltd (“We”, “Us”).</p>

<h2 class="wp-block-heading">Copyright</h2>

<p class="wp-block-paragraph">All information appearing on the site (the “Content”) (including without limitation, logos, editorial, design, artwork, graphics, photographs and the selection and arrangement thereof) is the property of Us or our suppliers. Copyright is owned by Us and reserved.</p>

<p class="wp-block-paragraph">None of the Content other than that which is specifically offered for download by Us may be downloaded, copied, reproduced, republished, posted, transmitted, stored, or distributed without the prior written permission of Us, the copyright holder.</p>

<h2 class="wp-block-heading">General</h2>

<p class="wp-block-paragraph">We have made every reasonable effort to ensure that the Content on the Site is up-to-date and accurate. It is provided on the understanding that We shall not be liable under any circumstances for any consequential loss or damages (including without limitation, loss of contract, loss of use, loss of profit, or other economic loss and whether caused by the negligence of ourselves, our employees, our agents or otherwise) which arises out of or in connection with the Content on the Site.</p>

<p class="wp-block-paragraph">The Site may at any time include links to third-party websites which are controlled and maintained by other organizations or individuals. These links are included solely for your reference and do not constitute any endorsement by Us of the websites linked or referred to, nor do We have any control over the Content of any such websites.</p>

<p class="wp-block-paragraph">There is no guarantee that the Site, or any third-party websites linked or referred to, will be free from infection by viruses, or anything else that may be deemed harmful or destructive.</p>

<p class="wp-block-paragraph">We make no guarantees as to the accessibility and availability of the Site. Reasons for inaccessibility may include without limitation, acts of God or other force majeure events, technical equipment failure, or lack of any applicable information or resources.</p>

<p class="wp-block-paragraph">No attempts must be made to modify, add to, remove, deface, hack or otherwise interfere with the Site or any Content displayed on the Site.</p>

<p class="wp-block-paragraph">These Terms and any Terms relating to products or services described within the Content of the Site shall be governed by and construed in accordance with the laws of England and Wales. Disputes arising in relation to the same shall, unless otherwise expressly agreed, be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

<h2 class="wp-block-heading">Changes to our Terms of Use</h2>

<p class="wp-block-paragraph">We reserve the right to modify these Terms of Use at any time without prior notice. Any changes will be updated on this page and it is your responsibility to ensure that you have made yourself aware of any such changes before continuing to browse the Site any further.</p>

<h2 class="wp-block-heading">Any questions?</h2>

<p class="wp-block-paragraph">If you have any questions regarding our Terms of Use, please <a href="/contact/index.html" data-type="page" data-id="1288">get in touch</a>.</p>

</div>
</div>		</div>

			</div>
</article>
		</main>
	</div>

	
	</div>
</div>
